

<div class="footer bottom-section">
  <footer id="footer">
  <p>Created by: Michael LeBegue, Sarah Mahram, Henry Palmer </p>
</footer>
</div>

<!-- Stripe JS -->
<script src="https://js.stripe.com/v3/"></script>
</body>

</html>
