body {
    margin: 0;
    padding: 5px, 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    background: #b68973;
  }

p {
    font-family: 'Ubuntu';
}

.navbar li a {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 15px;
  color: grey;
}

.top-section {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    padding: 30px 30px;
    background-color: #b68973;
    color: white;
}
.top-section h1 {
    margin: 0;
    font-size: 3.5rem;
}


.item img{
    display: block;
    margin: auto;
    width: 20px;
    position: relative;
    top: 20px;
}


.middle-section {
    padding: 10px, 50px;
}


.bottom-section {
    margin: 10px auto;
    font-family: 'Ubuntu';
    font-size: 1.25rem;
    text-align: center;
    background: #eabf9f;
    color: white;
}
.bottom-section h1 {
    font-family: 'Ubuntu';
    text-align: center;
}

#logo{
    vertical-align: left;
}

.about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1 0px;
}

.about p {
  text-align: center;
}

.cart-list img {
    width: 10%;
    align-content: right;
}

.cart-list p {
    text-align: left;
    padding-top: 55px;
}

#checkout-button {
    background-color: #eabf9f;
    border: none;
    text-align: center;
}

#checkout-button:hover {
    background-color: #b68973;
}