img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

p {
    font-family: 'Ubuntu';
    text-align: center;
}

h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    background: #b68973; 
    color: white;
  }

.items img {
    width: 40%;
  }

button {
    margin:auto;
    display:block;
  }