<%- include("partials/header"); -%>


<section class='about'>
  <div class="row">
    <div class="col-lg-4">
      <img src="/img/sarah.png">
      <p>Hi, I'm Sarah and I am a Senior at Lewis University.<br>I am a Computer Science major with a minor in Mathematics.
        <br>On my free time I enjoy baking, painting, and making custom items.
      </p>
    </div>
    <div class="col-lg-4">
      <img src="/img/henry.png">
      <p> Hello! My name is Henry Palmer and I am on my final semester of college at Lewis University studying Computer Science. I have been into computers since
        I can possibly remember, they have always been a passion of mine. In my spare time, I love to workout and am obsessed with all things fitness. I am always
        trying new things and expanding my comfort zone. You can find my LinkedIn below!
        <br>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/henry-palmer-916588208/" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </p>

    </div>
    <div class="col-lg-4">
      <img src="/img/mike.png">
      <p>What's up, I'm Mike LeBegue. I'm a Veteran, a Senior, and an entrepreneur. <br>I am a Computer Science major with a concentration in Cyber Security.
        <br>During my free time, I enjoy researching tech, gaming, and watching the financial markets.
        <br>
      </p>
    </div>

  </div>

</section>










<%- include("partials/footer"); -%>
