<%- include("partials/header"); -%>

  <head>

    <link href="/style/product.css" rel="stylesheet" type="text/css">
   
   </head>

  <body>
    <h1>Black "it is what it is" Hoodie</h1>
    <img src="/img/backBLACK.png" width= "40" height= "40" >
    <p>"it is what it is" Black cotton hoodie.</p>

    <form action="/action_page.php">
        <label for="sizes">Sizes:</label>
        <select id="sizes" name="sizes" size="3">
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
        </select>

        <label for="qnty">Quantity:</label>
        <select id="qnty" name="qnty" size="3">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
        </select>

        <button onclick=a href="/cart">Add to Cart</button>
      </form>

  </body>

<%- include("partials/footer"); -%>
