<%- include("partials/header"); -%>

<head>

 <link href="/css/externallinks.css" rel="stylesheet" type="text/css">

</head>

<section class='contactus'>
    <div class='row top-section'>
        <div class=''>
<h1>Contact Form</h1>
    </div>
</div>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your First Name..">
            </div>
        <div class="row">
            <div class="col-lg-4">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your Last Name..">
        </div>
        <div class="row">
            <div class="col-lg-4">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        </div>
        <div class="row">
            <div class="col-lg-4">
        <label for="country">Email</label>
        <input type="text" id="email" name="email" placeholder="Your Email..">
        </select>
        </div>
        <div class="row">
            <div class="col-lg-4">
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Text.."></textarea>
            </div>
        <div class="row">
            <div class="col-lg-4">
        <input type="submit" value="Submit">
            </div>
      </form>
    </div>
    
    </body>
  
</section>


<%- include("partials/footer"); -%>
