<%- include("partials/header"); -%>

<body>
    <div class='container'>
        <h3 class="h3">Products</h3>
        <div class='row'>
            <div class='col-md-3 col-sm-6'></div>
            <div class='product-grid'></div>
                <div class='product-image'></div>
                    <a href="#">
                        <img class="pic-1" src="/img/backBLACK.png">
                        <img class="pic-2" src="/img/bear.jpg">
                        <img clas="pic-3" src="/img/backMAROON.png">
                        <img class="pic-4" src="/img/maroonIDKMAN.png">
                        <img class="pic-5" src="/img/sugarcookies.png">
                    </a>

                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"> <i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"></a><i class="fa fa-shopping-bag"></li></a></li>
                            <li><a href=""data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>


<%- include("partials/footer"); -%>
