<%- include("partials/header"); -%>

<head>

    <link href="/style/productpage.css" rel="stylesheet" type="text/css">
   
   </head>

   <h1>Products</h1>

<body>
    <div class='row'>
        <div class='column'>
            <img src="/img/backBLACK.png" alt="backBLACK" style="width:100%">
            <a href="/views/backBLACK.ejs">Black "it is what it is" Hoodie</a>
        </div>
        <div class='column'>
            <img src="/img/bear.jpg" alt="bear" style="width:100%">
        </div>
        <div class='column'>
            <img src="/img/backMAROON.png" alt="backMAROON" style="width:100%">
        </div>
        <div class='column'>
            <img src="/img/maroonIDKMAN.png" alt="maroonIDKMAN" style="width:100%">
        </div>
    </div>

    <div class='row'>
        <div class='col item'>
            <img src="/img/sugarcookies.png" alt="sugarcookies" style="width:100%">
        </div>
        <div class='col item'>
            <img src="/img/breakableheart.png" alt="breakableheart" style="width:100%">
        </div>
        <div class='col item'>
            <img src="/img/lightpinkIDKMAN.png" alt="lightpinkIDKMAN" style="width:100%">
        </div>
        <div class='col item'>
            <img src="/img/mug.PNG" alt="mug" style="width:100%">
        </div>
    </div>


</body>


<%- include("partials/footer"); -%>
