<%- include("partials/header"); -%>

<head>

    <link href="/style/productpage.css" rel="stylesheet" type="text/css">

</head>

<h1>Products</h1>

<body>
    <div class='row items'>
        <div class='col'>
            <a href="/backBLACK">
                <img alt="BackBlack" src="/img/backBLACK.png" alt="backBLACK" >
            </a>
        </div>
        <div class='col'>
            <a href="/bear">
                <img alt="bear" src="/img/bear.png" alt="bear" >
            </a>
        </div>
        <div class='col'>
            <a href="/backMAROON">
                <img alt="BackMAROON" src="/img/backMAROON.png" alt="backMAROON" >
            </a>
        </div>
        <div class='col'>
            <a href="/maroonIDKMAN">
                <img alt="maroonIDKMAN" src="/img/maroonIDKMAN.png" alt="maroonIDKMAN" width= "260" height= "298" >
            </a>
        </div>
    </div>

    <div class='row items'>
        <div class='col item'>
            <a href="/sugarcookies">
                <img alt="sugarcookies" src="/img/sugarcookies.png" alt="sugarcookies">
            </a>
        </div>
        <div class='col item'>
            <a href="/breakableheart">
                <img alt="breakableheart" src="/img/breakableheart.png" alt="breakableheart">
            </a>
        </div>
        <div class='col item'>
            <a href="/lightpinkIDKMAN">
                <img alt="lightpinkIDKMAN" src="/img/lightpinkIDKMAN.png" alt="lightpinkIDKMAN" width= "260" height= "280">
            </a>
        </div>
        <div class='col item'>
            <a href="/mug">
                <img alt="mug" src="/img/mug.png" alt="mug">
            </a>
        </div>
    </div>


</body>


<%- include("partials/footer"); -%>