<%- include("partials/header"); -%>

<head>

    <link href="/style/externallinks.css" rel="stylesheet" type="text/css">
   
   </head>

<body>
    <div class='row items'>
        <h3 class="h3">Products</h3>
        <div class='col item'>
            <img src="/img/backBLACK.png" alt="">
        </div>
  
        <div class='col item'>
            <img src="/img/bear.jpg" alt="">
        </div>
  
        <div class='col item'>
            <img src="/img/backMAROON.png" alt="">
        </div>
  
        <div class='col item'>
            <img src="/img/maroonIDKMAN.png" alt="">
        </div>
    </div>
</body>


<%- include("partials/footer"); -%>
